<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>KUAR Demo</title>

  <link rel="stylesheet" href="/static/css/styles.css">
  <style>
    .title {
      color: {{ .VersionColor }};
    }
  </style>

  <script src="/static/js/jquery-3.1.1.min.js"></script>
</head>

<body>
  <div class="title">
    <h1>Kubernetes Up and Running</h1>
    <div>Demo application version <i>{{.Version}}</i></div>
  </div>

  <div class="warning">WARNING: This server may expose sensitive and secret information. Be careful.</div>

  <details open>
    <summary>Request Details</summary>
    <div class=content>
      <div><b>Proto:</b> <code>{{.RequestProto}}</code></div>
      <div><b>Client addr:</b> <code>{{.RequestAddr}}</code></div>
      <div><b>Dump:</b></div>
      <pre>
        {{- .RequestDump -}}
      </pre>
    </div>
  </details>

  <details>
    <summary>Environment</summary>
    <div>
      <table>
      <tr><th>Key</th><th>Value</th>
      {{range $k, $v := .Env}}
        <TR><TD><CODE>{{$k}}</CODE></TD><TD><CODE>{{$v}}</CODE></TD></TR>
      {{end}}
      </table>
    </div>
  </details>

  {{define "probe"}}
  <div>
    <p>Probe is being served on <a href="{{.BasePath}}">{{.BasePath}}</a></p>
    <p>{{if eq .FailNext 0 }}Probe will permanently succeed
       {{- else if gt .FailNext 0 }}Probe will fail for next {{.FailNext}} calls
       {{- else}}Probe will permanently fail{{end}}
    </p>
    {{- if .History}}
    <table>
      <tr>
        <th>When</th><th>&nbsp;</th><th>Status</th>
      </tr>
      {{- range .History }}
      <tr>
        <td>{{.When|friendlytime}}</td><td>{{.When|reltime}}</td><td>{{.Code}}</td>
      </tr>
      {{- end}}
    </table>
    {{- else}}
    <p>No recorded probe history</p>
    {{- end}}
  </div>
  {{end}}

  <details open>
    <summary>Liveness Probe</summary>
    <div id=liveness></div>
  </details>

  <details open>
    <summary>Readiness Probe</summary>
    <div id=readiness></div>
  </details>

  <details>
    <summary>File System</summary>
    <div>
      <a href="/fs/">Browse the root file system for this server.</a>
    </div>
  </details>
  <script>
    function renderLiveness() {
      $("#liveness").load("{{.Liveness.BasePath}}/render")
    }
    renderLiveness()
    setInterval(renderLiveness, 1000)

    function renderReadiness() {
      $("#readiness").load("{{.Readiness.BasePath}}/render")
    }
    renderReadiness()
    setInterval(renderReadiness, 1000)
  </script>
</body>
</html>
