<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>KUAR Demo</title>

  <link rel="stylesheet" href="/static/css/styles.css">
  <style>
    .title {
      color: {{ .VersionColor }};
    }
  </style>
</head>

<body>
  <div class="title">
    <h1>Kubernetes Up and Running</h1>
    <div>Demo application version <i>{{.Version}}</i></div>
  </div>

  <div class="warning">WARNING: This server may expose sensitive and secret information. Be careful.</div>

  <details open>
    <summary>Request Details</summary>
    <div class=content>
      <div><b>Proto:</b> <code>{{.RequestProto}}</code></div>
      <div><b>Client addr:</b> <code>{{.RequestAddr}}</code></div>
      <div><b>Dump:</b></div>
      <pre>
        {{- .RequestDump -}}
      </pre>
    </div>
  </details>

  <details>
    <summary>Environment</summary>
    <div>
      <table>
      <tr><th>Key</th><th>Value</th>
      {{range $k, $v := .Env}}
        <TR><TD><CODE>{{$k}}</CODE></TD><TD><CODE>{{$v}}</CODE></TD></TR>
      {{end}}
      </table>
    </div>
  </details>

  <details open>
    <summary>File System</summary>
    <div>
      <a href="/fs/">Browse the root file system of this system</a>
    </div>
  </details>
</body>
</html>
